// Variables

// Colors

$primary: #1CACAB;
$secondary: #40464B;
$dark: #17171B;
$white: #fff;

// Body

$body-bg: $dark;
$body-color: $white;

// Spacing

$spacer: 1rem;
$spacers: (
    6: ($spacer * 5),
    7: ($spacer * 8)
    );
