{% extends 'base.html' %}

{% block body %}
<section class="py-6">
  <div class="container">
    <div class="text-center">
      <h1 class="mb-4">How to support a Flipstarter campaign</h1>
    </div>
  </div>
</section>

<div class="pattern-dots-sm text-muted" style="height: 20px;"></div>

<section class="py-6" id="easy">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-md-10">
        <p>As described in the <a href="https://read.cash/@flipstarter/introducing-flipstarter-695d4d50" target="_blank">introduction to Flipstarter</a>, the first version uses a special type of transaction called Anyone-Can-Pay. It guarantees that your pledge can only be used if the campaign reaches its full target. Due to lack of wallet support at this time, you will have to do more than just point your phone at a QR code. We will get to the QR code version in future versions of Flipstarter technology! Also please let your favorite wallet know if support for Flipstarter technology is important to you.</p>

        <div class="py-4">
          <h3><u>Outline</u></h3>
          <ul>
            <li>Get ready with <a href="https://electroncash.org/" target="_blank">Electron Cash</a>.</li>
            <li>Download the latest <a href="https://gitlab.com/flipstarter/flipstarter-electron-cash/uploads/ec6b5a7518801c4a278128ac4f296607/flipstarter-1.3.zip" target="_blank">Flipstarter plugin</a>.</li>
            <li>Do not unzip the plugin. Install it from Electron Cash.</li>
            <li>Describe your pledge on the campaign website.</li>
            <li>Create the actual pledge with Electron Cash + Flipstarter plugin.</li>
            <li>Submit your pledge to the campaign website so that the campaign knows about your pledge.</li>
            <li>After the campaign, un-freeze your pledge if it was not used.</li>
          </ul>
        </div>

        <div class="py-4">
          <h3><u>Get ready with Electron Cash</u></h3>
          <p>Warning: As always with wallets, only install Electron Cash and plugins from a source that you trust. Get a second opinion if you are not sure. A malicious plugin will have full access to your computer.</p>
          <p>Get <a href="https://electroncash.org/" target="_blank">Electron Cash</a> if you do not have it already.</p>
          <p>Make sure that the BCH you want to pledge is in a standard wallet. Most people will have standard wallets. If your pledge BCH is in a multi-sig or hardware wallet, you will need to send the pledge amount to a standard wallet first. If you do not know what multi-sig or hardware wallets are, then you do not need to worry about it.</p>
        </div>

        <div class="py-4">
          <h3><u>Get the Flipstarter plugin</u></h3>
          <ul>
            <li>Download the <a href="https://gitlab.com/flipstarter/flipstarter-electron-cash/uploads/ec6b5a7518801c4a278128ac4f296607/flipstarter-1.3.zip" target="_blank">Flipstarter plugin</a>. Do not unzip it.</li>
            <li>[Optional] Ideally, you should verify that the hash of it matches the signed hashes on the <a href="https://gitlab.com/flipstarter/flipstarter-electron-cash/-/releases" target="_blank">current release</a> and that the signature of the hashes is valid. If you would like to do that but do not know how, please contact us and we can help you.</li>
            <li>Open Electron Cash with any wallet.</li>
            <li>Click <code>Tools</code> --> <code>Installed Plugins</code>.</li>
            <li>Click <code>Add Plugin</code> --> Select the downloaded zip file.</li>
            <div class="text-center py-3">
              <img src="/static/img/tutorial/add-plugin.png" class="img-fluid rounded">
            </div>
            <li>Click <code>Install</code> --> <code>Close</code>.</li>
            <div class="text-center py-3">
              <img src="/static/img/tutorial/install.png" class="img-fluid rounded">
            </div>
            <div class="text-center py-3">
              <img src="/static/img/tutorial/close.png" class="img-fluid rounded">
            </div>
            <li>You should now see a new Flipstarter tab in Electron Cash. It will be there for all your Electron Cash wallets.</li>
            <div class="text-center py-3">
              <img src="/static/img/tutorial/flipstarter-tab.png" class="img-fluid rounded">
            </div>
          </ul>
        </div>

        <div class="py-4">
          <h3><u>Describe your pledge on the campaign website</u></h3>
          <ol>
            <li>Choose your amount.</li>
            <li>Click <code>PLEDGE</code>.</li>
            <li>Optional: Write a name and comment.</li>
            <li>Click <code>COPY DETAILS</code>.</li>
            <div class="text-center py-3">
              <img src="/static/img/tutorial/copy-details.png" class="img-fluid rounded">
            </div>
          </ol>
        </div>

        <div class="py-4">
          <h3><u>Create your pledge with Electron Cash + Flipstarter plugin</u></h3>
          <p>With the Electron Cash wallet that you want to pledge from:</p>
          <ol>
            <li>Paste into <code>Paste pledge details</code> and <b>check that the amount, name and comment are correct</b>.</li>
            <li>Click <code>Confirm pledge</code>. To prepare your pledge, the plugin will create a transaction. You can see it in your history as a transaction to yourself.</li>
            <li>Click on <code>Copy pledge</code> and it will automatically select everything. Copy that.</li>
            <div class="text-center py-3">
              <img src="/static/img/tutorial/pledge.png" class="img-fluid rounded">
            </div>
          </ol>
        </div>

        <div class="py-4">
          <h3><u>Submit your pledge to the campaign website</u></h3>
          <ol>
            <li>Paste into <code>Paste pledge</code>.</li>
            <li>Click <code>SUBMIT PLEDGE</code>.</li>
          </ol>
          <div class="text-center py-3">
            <img src="/static/img/tutorial/submit.png" class="img-fluid rounded">
          </div>
        </div>

        <div class="py-4">
          <h3><u>After the campaign, cancel your pledge if it was not used</u></h3>
          <p>There are some cases where your pledged coin will not be used:</p>
          <ul>
            <li>A campaign is not fully funded.</li>
            <li>The site receives many pledges at the same time and has more than it needs to complete the funding.</li>
          </ul>
          <p>There is now a built-in tool that will handle cancelling your pledges.</p>
          <ol>
            <li>Click on the toolbox at the top-right of the Flipstarter plugin.</li>
            <li>Click <code>Cancel all pledges</code> and follow the directions.</li>
          </ol>
          <div class="text-center py-3">
            <img src="/static/img/tutorial/cancel.png" class="img-fluid rounded">
          </div>
        </div>

        <div class="py-4">
          <h3><u>How to cancel your pledge manually</u></h3>
          <p>When you make a pledge with the Flipstarter plugin, it creates one coin with exactly your pledge amount and "freezes" it so that you do not accidentally spend it. You can see it in the <code>Coins</code> tab of Electron Cash. You might need to click <code>View</code> --> <code>Show Coins</code> if you do not have a Coins tab.</p>
          <p>To cancel the pledge, you need to un-freeze it and also spend it back to yourself. We recommend you ask for help from Flipstarter or someone else who is familiar with Electron Cash if you are concerned about any of these steps.</p>
          <ol>
            <li>Click on the <code>Receive Tab</code></li>
            <li>Copy the <code>Receiving address</code></li>
            <li>Click on the <code>Coins</code> tab.</li>
            <li>Find the frozen coin (blue highlighting) that is labeled as a <code>Flipstarter pledge</code>.</li>
            <li>Right-click that coin and <code>Unfreeze Coin</code>.</li>
            <li>Right-click that coin again and <code>Spend</code>.</li>
            <li>Paste the address that you copied in step 2.</li>
            <li>Click <code>Max</code></li>
            <li>Click <code>Send</code> and do any required confirmation.</li>
          </ol>
          <p>Now your pledge was unfrozen and spent to yourself so that the campaign can no longer use it.</p>
          <p>Actually you can un-freeze your pledged coin and spend it at any time even during a campaign. If you spend it, the campaign will detect and remove your pledge so don't worry if you need to cancel.</p>
        </div>

      </div>
    </div>

  </div>
</section>
{% endblock %}
