{% extends 'base.html' %}

{% block body %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <a href="/">
        <i data-feather="arrow-left"></i>
      </a>
    </div>
  </div>
</div>

<section class="py-6">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h1>Start your campaign</h1>
        <a href="#easy" class="btn btn-primary btn-lg rounded-pill mr-3">Easy</a>
        <a href="#advanced" class="btn btn-outline-primary btn-lg rounded-pill">Advanced</a>
      </div>
    </div>
  </div>
</section>

<div class="pattern-dots-sm text-muted" style="height: 20px;"></div>

<section class="py-6" id="easy">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-10">
        <h2>Easy: deploy to DigitalOcean in 5 steps</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="py-4">
          <p>1. Create a DigitalOcean account if you don’t already have one</p>
          <a href="#" target="_blank">Create account with $50 free credit <small>(referred by merc1er)</small></a> or <a href="#" target="https://digitalocean.com/">Create account without referral</a>
        </div>

        <div class="py-4">
          <p>2. Deploy the Flipstarter app from the Marketplace</p>
          <a href="#" target="_blank">Click here to deploy</a>
        </div>

        <div class="py-4">
          <p>3. Copy and paste the IP address of your newly created campaign into a browser</p>
          <div class="col-lg-7 px-0">
            <img src="/static/img/do-campaign-ip.png" alt="DigitalOcean campaign IP" class="img-fluid rounded">
          </div>
        </div>

        <div class="py-4">
          <p>4. Fill in your campaign information</p>
          <p class="text-muted">In the window you just opened</p>
        </div>

        <div class="py-4">
          <p>5. Add a domain name (optional but recommended)</p>
          <p class="text-muted">You can do this through your domain name provider such as Namecheap, Godaddy etc...</p>
        </div>

        <p>Congratulations, your campaign is ready <i data-feather="check"></i></p>
        <p class="text-muted">Note that you cannot edit a campaign once it is created. You can delete a campaign under the <u>destroy</u> section in DigitalOcean.</p>
      </div>
    </div>

  </div>
</section>

<div class="pattern-dots-sm text-muted" style="height: 20px;"></div>

<section class="py-6" id="advanced">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-10">
        <h2>Advanced: deploy anywhere</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="py-4">
          <p>Option 1. Deploy with Docker</p>
          <p class="text-muted">All you need is Docker installed on your machine</p>
          <pre>
            <code class="bash">
  # download the latest version of flipstarter
  docker pull flipstarter/flipstarter

  # create a volume to store the database
  docker volume create flipstarter

  # run the container on ports 443 and 80
  docker run -d --restart always --name flipstarter -v flipstarter:/app -p 443:3000 -p 80:3000 flipstarter/flipstarter
            </code>
          </pre>
        </div>

        <div>
          <p>Option 2. Deploy with NodeJS</p>
          <p class="text-muted">You will need Git, NodeJS and <a href="https://github.com/nodejs/node-gyp" target="_blank">node-gyp</a> installed on your machine</p>
          <pre>
            <code class="bash">
  # clone the git repo and cd into it
  git clone https://gitlab.com/flipstarter/backend && cd backend

  # install dependencies
  npm install

  # run the webserver on port 3000
  npm start
            </code>
          </pre>
        </div>

        <a href="https://gitlab.com/flipstarter/backend" target="_blank">Read the full instructions</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
