{% extends 'base.html' %}

{% block body %}
<section class="py-6">
  <div class="container">
    <div class="text-center">
      <h1 class="mb-4">$( how-to-pledge.title )$</h1>
    </div>
  </div>
</section>

<div class="pattern-dots-sm text-muted" style="height: 20px;"></div>

<section class="py-6" id="easy">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-md-10">
        <p>$( how-to-pledge.intro )$</p>

        <div class="py-4">
          <h3><u>$( how-to-pledge.outline.title )$</u></h3>
          <ul>
            <li>$( how-to-pledge.outline.list.item-1 )$</li>
            <li>$( how-to-pledge.outline.list.item-2 )$</li>
            <li>$( how-to-pledge.outline.list.item-3 )$</li>
            <li>$( how-to-pledge.outline.list.item-4 )$</li>
            <li>$( how-to-pledge.outline.list.item-5 )$</li>
            <li>$( how-to-pledge.outline.list.item-6 )$</li>
            <li>$( how-to-pledge.outline.list.item-7 )$</li>
          </ul>
          <p>$( how-to-pledge.outline.outro )$</p>
        </div>

        <div class="py-4">
          <h3><u>$( how-to-pledge.get-ready.title )$</u></h3>
          <p>$( how-to-pledge.get-ready.warning )$</p>
          <p>$( how-to-pledge.get-ready.get )$</p>
          <p>$( how-to-pledge.get-ready.text )$</p>
        </div>

        <div class="py-4">
          <h3><u>$( how-to-pledge.get-plugin.title )$</u></h3>
          <ul>
            <li>$( how-to-pledge.get-plugin.list.item-1 )$</li>
            <li>$( how-to-pledge.get-plugin.list.item-2 )$</li>
            <li>$( how-to-pledge.get-plugin.list.item-3 )$</li>
            <li>$( how-to-pledge.get-plugin.list.item-4 )$</li>
            <li>$( how-to-pledge.get-plugin.list.item-5 )$</li>
            <div class="text-center py-3">
              <img src="/static/img/tutorial/add-plugin.png" class="img-fluid rounded">
            </div>
            <li>$( how-to-pledge.get-plugin.list.item-6 )$</li>
            <div class="text-center py-3">
              <img src="/static/img/tutorial/install.png" class="img-fluid rounded">
            </div>
            <div class="text-center py-3">
              <img src="/static/img/tutorial/close.png" class="img-fluid rounded">
            </div>
            <li>$( how-to-pledge.get-plugin.list.item-7 )$</li>
            <div class="text-center py-3">
              <img src="/static/img/tutorial/flipstarter-tab.png" class="img-fluid rounded">
            </div>
          </ul>
        </div>

        <div class="py-4">
          <h3><u>$( how-to-pledge.describe.title )$</u></h3>
          <ol>
            <li>$( how-to-pledge.describe.list.item-1 )$</li>
            <li>$( how-to-pledge.describe.list.item-2 )$</li>
            <li>$( how-to-pledge.describe.list.item-3 )$</li>
            <li>$( how-to-pledge.describe.list.item-4 )$</li>
            <div class="text-center py-3">
              <img src="/static/img/tutorial/copy-details.png" class="img-fluid rounded">
            </div>
          </ol>
        </div>

        <div class="py-4">
          <h3><u>$( how-to-pledge.create.title )$</u></h3>
          <p>$( how-to-pledge.create.intro )$</p>
          <ol>
            <li>$( how-to-pledge.create.list.item-1 )$</li>
            <li>$( how-to-pledge.create.list.item-2 )$</li>
            <li>$( how-to-pledge.create.list.item-3 )$</li>
            <div class="text-center py-3">
              <img src="/static/img/tutorial/pledge.png" class="img-fluid rounded">
            </div>
          </ol>
        </div>

        <div class="py-4">
          <h3><u>$( how-to-pledge.submit.title )$</u></h3>
          <ol>
            <li>$( how-to-pledge.submit.list.item-1 )$</li>
            <li>$( how-to-pledge.submit.list.item-2 )$</li>
          </ol>
          <div class="text-center py-3">
            <img src="/static/img/tutorial/submit.png" class="img-fluid rounded">
          </div>
        </div>

        <div class="py-4">
          <h3><u>$( how-to-pledge.after.title )$</u></h3>
          <p>$( how-to-pledge.after.intro )$</p>
          <ul>
            <li>$( how-to-pledge.after.case-1 )$</li>
            <li>$( how-to-pledge.after.case-2 )$</li>
          </ul>
          <p>$( how-to-pledge.after.tool )$</p>
          <ol>
            <li>$( how-to-pledge.after.step-1 )$</li>
            <li>$( how-to-pledge.after.step-2 )$</li>
          </ol>
          <div class="text-center py-3">
            <img src="/static/img/tutorial/cancel.png" class="img-fluid rounded">
          </div>
        </div>

        <div class="py-4">
          <h3><u>$( how-to-pledge.cancel.title )$</u></h3>
          <p>$( how-to-pledge.cancel.intro )$</p>
          <p>$( how-to-pledge.cancel.intro-2 )$</p>
          <ol>
            <li>$( how-to-pledge.cancel.list.item-1 )$</li>
            <li>$( how-to-pledge.cancel.list.item-2 )$</li>
            <li>$( how-to-pledge.cancel.list.item-3 )$</li>
            <li>$( how-to-pledge.cancel.list.item-4 )$</li>
            <li>$( how-to-pledge.cancel.list.item-5 )$</li>
            <li>$( how-to-pledge.cancel.list.item-6 )$</li>
            <li>$( how-to-pledge.cancel.list.item-7 )$</li>
            <li>$( how-to-pledge.cancel.list.item-8 )$</li>
            <li>$( how-to-pledge.cancel.list.item-9 )$</li>
          </ol>
          <p>$( how-to-pledge.cancel.outro )$</p>
          <p>$( how-to-pledge.cancel.outro-2 )$</p>
        </div>

      </div>
    </div>

  </div>
</section>
{% endblock %}
