{% extends 'base.html' %}

{% block body %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <a href="/">
        <i data-feather="arrow-left"></i>
      </a>
    </div>
  </div>
</div>

<section class="py-6">
  <div class="container">
    <div class="row text-center pb-6">
      <h1 class="col">Start your campaign in 5 easy steps</h1>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="py-4">
          <p>1. Create a DigitalOcean account if you don’t have one</p>
        </div>

        <div class="py-4">
          <p>2. Deploy the Flipstarter app from the Marketplace</p>
        </div>

        <div class="py-4">
          <p>3. Copy and paste the IP address of your newly created campaign into a browser</p>
        </div>

        <div class="py-4">
          <p>4. Fill in your campaign information</p>
        </div>

        <div class="py-4">
          <p>5. Add a domain name (optional but recommended)</p>
          <p class="text-muted">You can do this through your domain name provider such as Namecheap, Godaddy etc...</p>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="pattern-dots-sm text-muted" style="height: 20px;"></div>

<section class="py-6">
  <div class="container">
    <div class="row text-center pb-6">
      <div class="col">
        <h1>Or deploy your campaign anywhere</h1>
        <small>(for advanced users)</small>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="py-4">
          <p>Option 1. Deploy with Docker</p>
          <pre>
            <code class="bash">
  # download the latest version of flipstarter
  docker pull flipstarter/flipstarter

  # create a volume to store the database
  docker volume create flipstarter

  # run the container on ports 443 and 80
  docker run -d --restart always --name flipstarter -v flipstarter:/app -p 443:3000 -p 80:3000 flipstarter/flipstarter
            </code>
          </pre>
        </div>

        <div>
          <p>Option 2. Deploy with NodeJS</p>
          <pre>
            <code class="bash">
  # clone the git repo and cd into it
  git clone https://gitlab.com/flipstarter/backend && cd backend

  # install dependencies
  npm install

  # run the webserver on port 3000
  npm start
            </code>
          </pre>
        </div>

        <a href="https://gitlab.com/flipstarter/backend" target="_blank">Read the full instructions</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
