{% extends 'base.html' %}

{% block body %}
<section class="py-6">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="text-center mb-5">
        <img src="/static/img/logo-alt.svg" alt="Logo" width="120">
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="text-center">
        <h3 class="hero-title">Crowdfunding. <br> Simplified.</h3>
      </div>
    </div>
    <div class="row pt-5 justify-content-center">
      <div class="col-md-8 text-center">
        <a class="btn btn-primary btn-lg shadow" href="/how-to">Start a campaign</a>
      </div>
    </div>
  </div>
</section>

<section class="pb-5">
  <div class="container text-center">
    <i data-feather="gitlab" class="mx-2 text-muted"></i>
    <i data-feather="github" class="mx-2 text-muted"></i>
    <i data-feather="twitter" class="mx-2 text-muted"></i>
  </div>
</section>
{% endblock %}
