{% extends 'base.html' %}

{% block body %}
<section class="py-7">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-4 order-md-2 text-center mb-5 mb-md-0">
        <img src="/static/img/logo-alt.svg" alt="Logo" width="150">
      </div>
      <div class="col-md-6 order-md-1">
        <h3 class="hero-title">Crowdfunding. <br> Simplified.</h3>
        <p>Flipstarter provides a way for any project to engage with potential funders in a way that encourages accountability for projects and fairness for funders.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
