{% extends 'base.html' %}

{% block body %}
<section class="py-6">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="text-center mb-5">
        <img src="/static/img/logo-alt.svg" alt="Logo" width="120">
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="text-center">
        <h3 class="hero-title">Crowdfunding. <br> Simplified.</h3>
      </div>
    </div>
    <div class="row pt-5 justify-content-center">
      <div class="col-md-8 text-center">
        <a class="btn btn-primary btn-lg shadow" href="/how-to">Start a campaign</a>
      </div>
    </div>
  </div>
</section>

<div class="pattern-dots-sm text-muted" style="height: 20px;"></div>

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p>Flipstarter provides a way for any project to engage with potential funders in a way that encourages accountability for projects and fairness for funders.</p>

        <p class="mt-5">The Flipstarter team has created these tools for anyone to use. Although we have worked hard to make Flipstarter easy to deploy and reliable to operate, <span class="text-primary">the tools are offered as-is with no expectation of support</span>. If you are not confident about your ability to deploy and manage a Flipstarter-based campaign, we recommend you work with a web developer who can manage everything for you.</p>

        <p>Corentin Mercier offers a service <a href="https://merc1er.com/flipstarter">here</a>.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
