<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="author" content="Corentin Mercier">
  <meta name="description" content="">

  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/style.css">

  <title>Flipstarter - Bitcoin Cash Fundraising</title>
</head>
<body>

  <nav class="navbar navbar-dark">
    <a class="navbar-brand" href="/">Flipstarter</a>
  </nav>

  {% block body %}{% endblock %}

  <!-- JavaScript -->
  <script src="/static/feather.min.js"></script>
  <script>
    feather.replace();
  </script>

</body>
</html>
